body {
    margin: auto;
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
}

/* Media query for small devices */
@media (max-width: 768px) {

    /* This value is for tablets. Adjust as necessary */
    body {
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}

 

.custom-button {
    color: black !important;
    background-color: lightgray;
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.top-right-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}