body {
    margin: auto;
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
}

/* Media query for small devices */
@media (max-width: 768px) { /* This value is for tablets. Adjust as necessary */
    body {
        width: auto; 
    }
}