<!DOCTYPE html>


<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href="/assets/main.css">
	<link type="application/atom+xml" rel="alternate" href="https://orange-orm.io/feed.xml"
		title="The ultimate ORM for Node and Typescript" />


	<title>The ultimate ORM for Node and Typescript</title>
	<meta property="og:title" content="The ultimate ORM for Node and Typescript" />
	<meta property="og:locale" content="en_US" />
	<meta name="description"
		content="Fetch rows directly in the browser. Developer friendly, concise with with powerful filtering." />
	<meta property="og:description"
		content="Fetch rows directly in the browser. Developer friendly, concise with with powerful filtering." />
	<link rel="canonical" href="https://orange-orm.io/" />
	<!-- <meta property="og:url" content="https://orange-orm.io" />
	<meta property="og:site_name" content="Orange ORM - The ultimate ORM for Node and Typescript" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="https://orange-orm.io/assets/img/rdb-twitter.png" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:image" content="https://orange-orm.io/assets/img/rdb-twitter.png" />
	<meta name="twitter:site" content="@rdb" />
	<meta name="twitter:creator" content="@rdb_orm" /> -->

	<script type="application/ld+json">
		  {"@context":"https://schema.org","@type":"WebSite","description":"The most developer friendly ORM ever. Fetch rows directly in the browser in a safe manner. Powerful filtering. Change detection and concurrency handling.","headline":"Orange ORM - The ultimate ORM for Node and Typescript","name":"Orange ORM - The ultimate ORM for Node and Typescript","publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"https://orange-orm.io/docs/orange.svg"}},"url":"https://orange-orm.io/"}</script>

	<link rel="stylesheet" href="/assets/css/custom.css">

	<!-- Apple Icons -->
	<link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
	
	<!-- Microsoft Icons -->
	<meta name="msapplication-TileImage" content="/assets/img/mstile-144x144.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	
	<!-- Favicons -->
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
	<link rel="shortcut icon" href="/favicon.ico">
	
	<link rel="manifest" href="/assets/manifest.json">
	<meta name="msapplication-config" content="/assets/browserconfig.xml" />

</head>

<body>
	<div style="position:relative">
		<div class="top-right-buttons">
			<a class="button custom-button" href="https://github.com/alfateam/orange-orm"
				style="align-items: center;">
				<span class="icon">
					<i class="fab fa-github"></i>
				</span>
			</a>
			<a class="button custom-button" href="https://twitter.com/rdb_orm?sub_confirmation=1"
				style="align-items: center;">
				<span class="icon">
					<i class="fab fa-twitter"></i>
				</span>
			</a>
			<div><a href="https://github.com/alfateam/orange-orm" style="color: rgb(17,17,17);">Give us a star</a></div>
		</div>		
	</div>
	{{ content }}
</body>

</html>