<!DOCTYPE html>


<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href="/assets/main.css">
	<link type="application/atom+xml" rel="alternate" href="https://rdbjs.org/feed.xml"
		title="RDB - The ultimate ORM for Node and Typescript" />


	<title>RDB - The ultimate ORM for Node and Typescript</title>
	<meta property="og:title" content="RDB - The ultimate ORM for Node and Typescript" />
	<meta property="og:locale" content="en_US" />
	<meta name="description"
		content="Fetch rows directly in the browser. Developer friendly, concise with with powerful filtering." />
	<meta property="og:description"
		content="Fetch rows directly in the browser. Developer friendly, concise with with powerful filtering." />
	<link rel="canonical" href="https://rdbjs.org/" />
	<meta property="og:url" content="https://rdbjs.org" />
	<meta property="og:site_name" content="RDB - The ultimate ORM for Node and Typescript" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="https://rdbjs.org/docs/logo-sm.jpg" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:image" content="https://rdbjs.org/docs/logo-sm.jpg" />
	<meta name="twitter:site" content="@rdb" />
	<meta name="twitter:creator" content="@rdb_orm" />

	<script type="application/ld+json">
		  {"@context":"https://schema.org","@type":"WebSite","description":"The most developer friendly ORM ever. Fetch rows directly in the browser in a safe manner. Powerful filtering. Change detection and concurrency handling.","headline":"RDB - The ultimate ORM for Node and Typescript","name":"RDB - The ultimate ORM for Node and Typescript","publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"https://rdbjs.org/docs/logo-sm.jpg"}},"url":"https://rdbjs.org/"}</script>

	<link rel="stylesheet" href="/assets/css/custom.css">

	<!-- Apple Icons -->
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/img/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-icon-180x180.png">
	
	<!-- Microsoft Icons -->
	<meta name="msapplication-TileImage" content="/assets/img/ms-icon-144x144.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	
	<!-- Favicons -->
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon-96x96.png">
	<link rel="shortcut icon" href="/favicon.ico">
	
	<link rel="manifest" href="/assets/manifest.json">
	<meta name="msapplication-config" content="/assets/browserconfig.xml" />

</head>

<body>
	<div style="position:relative">
		<div class="top-right-buttons">
			<a class="button custom-button" href="https://github.com/alfateam/rdb"
				style="align-items: center;">
				<span class="icon">
					<i class="fab fa-github"></i>
				</span>
			</a>
			<a class="button custom-button" href="https://twitter.com/rdb_orm?sub_confirmation=1"
				style="align-items: center;">
				<span class="icon">
					<i class="fab fa-twitter"></i>
				</span>
			</a>
			<div><a href="https://github.com/alfateam/rdb" style="color: rgb(17,17,17);">Give us a star</a></div>
		</div>
	</div>
	{{ content }}
</body>

</html>