<!DOCTYPE html>


<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/assets/main.css">
	<link type="application/atom+xml" rel="alternate" href="https://rdbjs.org/feed.xml"
		title="RDB - The ultimate ORM for Node and Typescript" />


	<title>RDB - The ultimate ORM for Node and Typescript</title>
	<meta property="og:title" content="RDB - The ultimate ORM for Node and Typescript" />
	<meta property="og:locale" content="en_US" />
	<meta name="description"
		content="Fetch rows directly in the browser. Developer friendly, concise with with powerful filtering." />
	<meta property="og:description"
		content="Fetch rows directly in the browser. Developer friendly, concise with with powerful filtering." />
	<link rel="canonical" href="https://rdbjs.org/" />
	<meta property="og:url" content="https://rdbjs.org" />
	<meta property="og:site_name" content="RDB - The ultimate ORM for Node and Typescript" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="https://rdbjs.org/docs/logo-sm.jpg" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:image" content="https://rdbjs.org/docs/logo-sm.jpg" />
	<meta name="twitter:site" content="@rdb" />
	<meta name="twitter:creator" content="@rdb_orm" />

	<script type="application/ld+json">
		  {"@context":"https://schema.org","@type":"WebSite","description":"The most developer friendly ORM ever. Fetch rows directly in the browser in a safe manner. Powerful filtering. Change detection and concurrency handling.","headline":"RDB - The ultimate ORM for Node and Typescript","name":"RDB - The ultimate ORM for Node and Typescript","publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"https://rdbjs.org/docs/logo-sm.jpg"}},"url":"https://rdbjs.org/"}</script>

	<link rel="stylesheet" href="/assets/css/custom.css">


</head>

<body>
	{{ content }}
</body>

</html>